@import "tailwindcss";

:root {
    --background-color : #334259;
}

html, body {
    scrollbar-width: none;       
    -ms-overflow-style: none;    
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;               
}


.filter-panel {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;  
}

.filter-panel::-webkit-scrollbar {
    width: 4px;
}

.filter-panel::-webkit-scrollbar-track {
    background: transparent;
}

.filter-panel::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 999px;
}

.filter-panel::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}

